<!-- Collect the lang-ref, defaulting slug or title -->
{% if page.lang-ref %}
    {% assign lang-ref=page.lang-ref %}
{% elsif page.slug %}
    {% assign lang-ref=page.slug %}
{% else %}
    {% assign lang-ref=page.title %}
{% endif %}

<!-- List posts and pages with corresponding lang-ref -->
{% assign targets = "" | split,"" %}

{% for p in site.posts %}
    {% if p.lang-ref==lang-ref or p.slug==lang-ref or p.title==lang-ref %}
        {% assign targets = targets | push: p %}
    {% endif %}
{% endfor %}
{% for p in site.pages %}
    {% if p.lang-ref==lang-ref or p.slug==lang-ref or p.title==lang-ref %}
        {% assign targets = targets | push: p %}
    {% endif %}
{% endfor %}

{% assign posts=site.posts | where: "lang-ref", lang-ref %}
{% assign pages=site.pages | where: "lang-ref", lang-ref %}

<!-- For Debug -->
{% comment %}
<h3>lang-ref: {{ lang-ref }}</h3>
<h3>posts: {{ posts.size }}</h3>
<h3>pages: {{ pages.size }}</h3>
<h3>targets: {{ targets.size }}</h3>
{% endcomment %}

<!-- Create empty list -->
{% assign langs = "" | split,"" %}

<!-- Collect Languages -->
{% for p in targets %}
    {% if p.lang %}
        {% assign langs = langs | push: p.lang %}
    {% endif %}
{% endfor %}

<!-- Unique and Sort -->
{% assign langs = langs | sort:"lang" | uniq %}

<ul class="language" style="list-style-type:none; padding:0">
    {% for lang in langs %}
    <li>
        {% if page.slug=="index" %}
            <a href="{{ site.baseurl }}/{{ lang }}/"
            title="View in {{ site.data.languages[lang].label }}" style="color: #2b75f8 !important;">{{ site.data.languages[lang].icon }} {{ site.data.languages[lang].label }}</a>
        {% else %}
            {% assign slugs = "" | split,"" %}
            {% for i in targets %}
                {% if i.lang==lang %}
                {% assign slugs = slugs | push: i.slug %}
                {% endif %}
            {% endfor %}
            <a href="{{ site.baseurl }}/{{ lang }}/{{ slugs | first }}"
            title="View in {{ site.data.languages[lang].label }}" style="color: #2b75f8 !important;">{{ site.data.languages[lang].icon }} {{ site.data.languages[lang].label }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
