---
layout: default
---
<section class="bg-gray200 pt-5 pb-5">    
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-md-8">
                
    			<article class="card">
                    
                 {% if page.image %} 
                    {% comment %}
                    <span class="pinme">
                        <a data-pin-do="buttonPin" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{page.url}}&media={{site.url}}{{site.baseurl}}/{{page.image}}&description={{ page.title }}- {{ page.content | strip_html | truncatewords:25 }}"></a>
                    </span>
                    {% endcomment %}
                    <img class="card-img-top mb-2" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | relative_url }}{% endif %}" alt="{{ page.title }}"> 
                {% endif %}
                    
    			<div class="card-body">
                    
    				<h1 class="display-4">
    				    {{page.title}} 
                    </h1>
                     
                    <small class="text-muted d-block mb-3">
                        {% unless page.metadate == "hide" %} 
                            {{ page.date | date: '%B %d, %Y' }} 
                        {% endunless %}
                        {% if page.author %}
                            , by {{page.author | capitalize}} 
                        {% endif %}
                    </small>                    
                    
    				{{ content }}
                    
                    {% if page.visit %}
                    <p><a target="_blank" href="{{page.visit}}" class="btn btn-gray d-block font-weight-bold">
                        Visit <i class="fas fa-external-link-alt"></i></a>
                    </p>
                    {% endif %}
                    
                    {% for tag in page.tags %}
                      <a class="btn btn-sm btn-primary mt-2" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}" style="background-color: #4aafea !important; border-color: #4aafea !important;">
                        # {{ tag | downcase }}
                      </a>
                    {% endfor %}
                    
    				{% include comments.html %}
                    
    			</div>  
                    
    			</article>
                
                <div class="PageNavigation">

                  <!-- Find posts of the same category (language folder) -->
                  {% if page.categories[0] %}
                  {% assign posts = site.posts | where_exp: "post", "post.categories[0]==page.categories[0]"  %}
                  
                  {% comment %}
                  <h1>cat: {{page.categories[0]}}</h1>
                  <h1>posts: {{posts.size}}</h1>
                  {% endcomment %}

                  <!-- Initiate previous and next URLs -->
                  {% if posts.size > 1 %}
                    {% assign prevurl = posts.last.url | remove: ".html" %}
                    {% assign nexturl = posts.first.url | remove: ".html" %}
                  {% endif %}

                  {% comment %}
                  <h1>prev: {{prevurl}}</h1>
                  <h1>next: {{nexturl}}</h1>
                  {% endcomment %}
                  
                  <!-- Find real previous and next URLs -->
                  {% for links in posts %}
                  {% if links.title == page.title %}
                  {% unless forloop.first %}
                  {% assign prevurl = prev.url %}
                  {% endunless %}
                  {% unless forloop.last %}
                  {% assign next = posts[forloop.index] %}
                  {% assign nexturl = next.url %}
                  {% endunless %}
                  {% endif %}
                  {% assign prev = links %}
                  {% endfor %}
                  {% endif %}
                  
                  {% comment %}
                  <h1>prev: {{prevurl}}</h1>
                  <h1>next: {{nexturl}}</h1>
                  <h1>next to replace: {{posts[0].url}}</h1>
                  <h1>prev to replace: {{posts[-1].url}}</h1>
                  {% endcomment %}
                  
                  {% if nexturl==page.url %}
                  {% assign nexturl = posts[0].url %}
                  {% endif %}
                  
                  {% if prevurl==page.url %}
                  {% assign prevurl = posts[-1].url %}
                  {% endif %}

                  <!-- Display previous and next buttons -->
                  {% if prevurl != nil %}
	                  <!-- <a class="prev" href="{{site.baseurl}}{{prevurl}}"><i class="fa fa-angle-left"></i> </a> -->
                  {% endif %}
                  {% if nexturl != nil %}
                    <!-- <a class="next" href="{{site.baseurl}}{{nexturl}}"><i class="fa fa-angle-right"></i> </a> -->
                  {% endif %}

                  
                  <!-- Navigation through category - Local only, Github doesn't run plugins (safe mode) -->
                  {% comment %}
                  {% if page.next_in_category != nil %}
	                  <a class="prev" href="{{site.baseurl}}{{page.next_in_category.url}}"><i class="fa fa-angle-left"></i> </a>
                  {% endif %}
                  {% if page.previous_in_category != nil %}
                    <a class="next" href="{{site.baseurl}}{{page.previous_in_category.url}}"><i class="fa fa-angle-right"></i> </a>
                  {% endif %}
                  {% endcomment %}

                  <!-- Navigation through all posts -->
                  {% comment %}
                  {% if page.next.url %}
                    <a class="prev" href="{{site.baseurl}}{{page.next.url}}"><i class="fa fa-angle-left"></i> </a>
                  {% endif %}
                  {% if page.previous.url %}
                    <a class="next" href="{{site.baseurl}}{{page.previous.url}}"><i class="fa fa-angle-right"></i></a>
                  {% endif %}
                  {% endcomment %}
                </div>
                
    		</div>
    	</div>
    </div>
</section>